In [2]:
import pandas as pd

In [ ]:
s1 = pd.Series([1,2,3,4,5])  # adds a key for each value.
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
type(s1)

pandas.core.series.Series

In [8]:
a = s1[0]
a

np.int64(1)

In [10]:
s1 = pd.Series([1,2,3,4,5], index = ['a','b','c','d','e'])
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [11]:
s1 = pd.Series({'a': 10, 'b': 20, 'c': 30})
s1

a    10
b    20
c    30
dtype: int64

In [12]:
s1.get('a')

np.int64(10)

In [15]:
s1['a']

np.int64(10)

In [13]:
s1 = pd.Series({'a': 10, 'b': 20, 'c': 30}, index = ['c','x','n','t'])
s1

c    30.0
x     NaN
n     NaN
t     NaN
dtype: float64

In [18]:
s1 = pd.Series({'a': 10, 'b': 20, 'c': 30,'c': 35}, index = ['c','b','b','a'])
s1

c    35
b    20
b    20
a    10
dtype: int64

In [16]:
s1['b'] = 21
s1

c    30
b    21
b    21
a    10
dtype: int64

In [19]:
s1 = pd.Series({'a': 10, 'b': 20, 'c': 30, 'c':31})
s1

a    10
b    20
c    31
dtype: int64

In [21]:
s2 = s1
s2 = s2*3
s2

a    30
b    60
c    93
dtype: int64

In [ ]:
data = pd.DataFrame({'Name': ['Hamad', 'Alex', 'Ali', 'Fatma', ], 'Age': [20,25,30,35]})
data

    Name  Age
0  Hamad   20
1   Alex   25
2    Ali   30
3  Fatma   35

In [30]:
data = pd.DataFrame({'Name': ['Hamad', 'Alex', 'Ali', 'Fatma', ], 'Age': [20,25,30,35],'Address':('Dubai','Ajman','Abu Dhabi','Sharjah')})
data

    Name  Age    Address
0  Hamad   20      Dubai
1   Alex   25      Ajman
2    Ali   30  Abu Dhabi
3  Fatma   35    Sharjah

In [35]:
df1 = pd.read_csv('./datasets/dataset.csv')
df1

   Customer ID Purchase Date Product ID  Price  Discount
0         C001      1/1/2022       P001    100        10
1         C002      1/2/2022       P002    150        15
2         C003      1/3/2022       P003    200        20
3         C004      1/4/2022       P001    100        10
4         C005      1/5/2022       P002    150        15
5         C006      1/6/2022       P003    200        20
6         C007      1/7/2022       P004     75         5
7         C008      1/8/2022       P005    125        10
8         C009      1/9/2022       P006    300        30
9         C010     1/10/2022       P001    100        10
10        C011     1/11/2022       P002    150        15
11        C012     1/12/2022       P003    200        20
12        C013     1/13/2022       P004     75         5
13        C014     1/14/2022       P005    125        10
14        C015     1/15/2022       P006    300        30
15        C016     1/16/2022       P001    100        10
16        C017     1/17/2022       P002    150        15
17        C018     1/18/2022       P003    200        20
18        C019     1/19/2022       P004     75         5
19        C020     1/20/2022       P005    125        10
20        C021     1/21/2022       P006    300        30
21        C022     1/22/2022       P001    100        10
22        C023     1/23/2022       P002    150        15
23        C024     1/24/2022       P003    200        20
24        C025     1/25/2022       P004     75         5
25        C026     1/26/2022       P005    125        10
26        C027     1/27/2022       P006    300        30
27        C028     1/28/2022       P001    100        10
28        C029     1/29/2022       P002    150        15
29        C030     1/30/2022       P003    200        20

In [34]:
df2 = pd.read_excel('./datasets/StatScore.xlsx')
df2

     Hours Spent Studying  Total Points Earned
0                      22                   12
1                      20                   18
2                      29                   25
3                      24                   25
4                      43                   28
..                    ...                  ...
151                   105                   98
152                    95                   99
153                   109                  100
154                   110                  100
155                   101                  100

[156 rows x 2 columns]

In [ ]:
df1.head()
df1.head(10)
df1.tail(8)

Requirement already satisfied: openpyxl in /Users/george/repos/HelloPython/.venv/lib/python3.13/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /Users/george/repos/HelloPython/.venv/lib/python3.13/site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

   Customer ID Purchase Date Product ID  Price  Discount
22        C023     1/23/2022       P002    150        15
23        C024     1/24/2022       P003    200        20
24        C025     1/25/2022       P004     75         5
25        C026     1/26/2022       P005    125        10
26        C027     1/27/2022       P006    300        30
27        C028     1/28/2022       P001    100        10
28        C029     1/29/2022       P002    150        15
29        C030     1/30/2022       P003    200        20

In [ ]:
df2.shape  # property return here, rather than a function. columns exclude the pandas index

(156, 2)

In [55]:
df1.describe([0])

            Price   Discount
count   30.000000  30.000000
mean   156.666667  15.000000
std     70.384821   7.656415
min     75.000000   5.000000
0%      75.000000   5.000000
50%    150.000000  15.000000
max    300.000000  30.000000

In [63]:
df1.max()

Customer ID          C030
Purchase Date    1/9/2022
Product ID           P006
Price                 300
Discount               30
dtype: object

In [74]:
df1.max([0][0])

Customer ID          C030
Purchase Date    1/9/2022
Product ID           P006
Price                 300
Discount               30
dtype: object

In [75]:
df1['Price'].max()

np.int64(300)

In [70]:
df1.sort_values(by='Price', ascending=False)

   Customer ID Purchase Date Product ID  Price  Discount
20        C021     1/21/2022       P006    300        30
8         C009      1/9/2022       P006    300        30
14        C015     1/15/2022       P006    300        30
26        C027     1/27/2022       P006    300        30
23        C024     1/24/2022       P003    200        20
17        C018     1/18/2022       P003    200        20
11        C012     1/12/2022       P003    200        20
29        C030     1/30/2022       P003    200        20
5         C006      1/6/2022       P003    200        20
2         C003      1/3/2022       P003    200        20
22        C023     1/23/2022       P002    150        15
4         C005      1/5/2022       P002    150        15
1         C002      1/2/2022       P002    150        15
16        C017     1/17/2022       P002    150        15
28        C029     1/29/2022       P002    150        15
10        C011     1/11/2022       P002    150        15
7         C008      1/8/2022       P005    125        10
25        C026     1/26/2022       P005    125        10
13        C014     1/14/2022       P005    125        10
19        C020     1/20/2022       P005    125        10
27        C028     1/28/2022       P001    100        10
0         C001      1/1/2022       P001    100        10
21        C022     1/22/2022       P001    100        10
9         C010     1/10/2022       P001    100        10
3         C004      1/4/2022       P001    100        10
15        C016     1/16/2022       P001    100        10
18        C019     1/19/2022       P004     75         5
24        C025     1/25/2022       P004     75         5
12        C013     1/13/2022       P004     75         5
6         C007      1/7/2022       P004     75         5

In [71]:
df1['Discount'].value_counts()

Discount
10    10
15     6
20     6
5      4
30     4
Name: count, dtype: int64

In [78]:
df1['Discount amount'] = df1['Price'] * df1['Discount']/100
df1

   Customer ID Purchase Date Product ID  Price  Discount  Discount amount
0         C001      1/1/2022       P001    100        10            10.00
1         C002      1/2/2022       P002    150        15            22.50
2         C003      1/3/2022       P003    200        20            40.00
3         C004      1/4/2022       P001    100        10            10.00
4         C005      1/5/2022       P002    150        15            22.50
5         C006      1/6/2022       P003    200        20            40.00
6         C007      1/7/2022       P004     75         5             3.75
7         C008      1/8/2022       P005    125        10            12.50
8         C009      1/9/2022       P006    300        30            90.00
9         C010     1/10/2022       P001    100        10            10.00
10        C011     1/11/2022       P002    150        15            22.50
11        C012     1/12/2022       P003    200        20            40.00
12        C013     1/13/2022       P004     75         5             3.75
13        C014     1/14/2022       P005    125        10            12.50
14        C015     1/15/2022       P006    300        30            90.00
15        C016     1/16/2022       P001    100        10            10.00
16        C017     1/17/2022       P002    150        15            22.50
17        C018     1/18/2022       P003    200        20            40.00
18        C019     1/19/2022       P004     75         5             3.75
19        C020     1/20/2022       P005    125        10            12.50
20        C021     1/21/2022       P006    300        30            90.00
21        C022     1/22/2022       P001    100        10            10.00
22        C023     1/23/2022       P002    150        15            22.50
23        C024     1/24/2022       P003    200        20            40.00
24        C025     1/25/2022       P004     75         5             3.75
25        C026     1/26/2022       P005    125        10            12.50
26        C027     1/27/2022       P006    300        30            90.00
27        C028     1/28/2022       P001    100        10            10.00
28        C029     1/29/2022       P002    150        15            22.50
29        C030     1/30/2022       P003    200        20            40.00

In [ ]:
df1.drop('Discount', axis=1)

   Customer ID Purchase Date Product ID  Price  Discount amount
0         C001      1/1/2022       P001    100            10.00
1         C002      1/2/2022       P002    150            22.50
2         C003      1/3/2022       P003    200            40.00
3         C004      1/4/2022       P001    100            10.00
4         C005      1/5/2022       P002    150            22.50
5         C006      1/6/2022       P003    200            40.00
6         C007      1/7/2022       P004     75             3.75
7         C008      1/8/2022       P005    125            12.50
8         C009      1/9/2022       P006    300            90.00
9         C010     1/10/2022       P001    100            10.00
10        C011     1/11/2022       P002    150            22.50
11        C012     1/12/2022       P003    200            40.00
12        C013     1/13/2022       P004     75             3.75
13        C014     1/14/2022       P005    125            12.50
14        C015     1/15/2022       P006    300            90.00
15        C016     1/16/2022       P001    100            10.00
16        C017     1/17/2022       P002    150            22.50
17        C018     1/18/2022       P003    200            40.00
18        C019     1/19/2022       P004     75             3.75
19        C020     1/20/2022       P005    125            12.50
20        C021     1/21/2022       P006    300            90.00
21        C022     1/22/2022       P001    100            10.00
22        C023     1/23/2022       P002    150            22.50
23        C024     1/24/2022       P003    200            40.00
24        C025     1/25/2022       P004     75             3.75
25        C026     1/26/2022       P005    125            12.50
26        C027     1/27/2022       P006    300            90.00
27        C028     1/28/2022       P001    100            10.00
28        C029     1/29/2022       P002    150            22.50
29        C030     1/30/2022       P003    200            40.00

In [111]:
df1.drop(['Discount','Customer ID'], axis=1).head(10)

  Purchase Date Product ID  Price  Discount amount
0      1/1/2022       P001    100            10.00
1      1/2/2022       P002    150            22.50
2      1/3/2022       P003    200            40.00
3      1/4/2022       P001    100            10.00
4      1/5/2022       P002    150            22.50
5      1/6/2022       P003    200            40.00
6      1/7/2022       P004     75             3.75
7      1/8/2022       P005    125            12.50
8      1/9/2022       P006    300            90.00
9     1/10/2022       P001    100            10.00

In [ ]:
df1.drop([7,8,9]) # removes at index level. need inplace=True to directly edit the dataframe.

   Customer ID Purchase Date Product ID  Price  Discount  Discount amount
0         C001      1/1/2022       P001    100        10            10.00
1         C002      1/2/2022       P002    150        15            22.50
2         C003      1/3/2022       P003    200        20            40.00
3         C004      1/4/2022       P001    100        10            10.00
4         C005      1/5/2022       P002    150        15            22.50
5         C006      1/6/2022       P003    200        20            40.00
6         C007      1/7/2022       P004     75         5             3.75
10        C011     1/11/2022       P002    150        15            22.50
11        C012     1/12/2022       P003    200        20            40.00
12        C013     1/13/2022       P004     75         5             3.75
13        C014     1/14/2022       P005    125        10            12.50
14        C015     1/15/2022       P006    300        30            90.00
15        C016     1/16/2022       P001    100        10            10.00
16        C017     1/17/2022       P002    150        15            22.50
17        C018     1/18/2022       P003    200        20            40.00
18        C019     1/19/2022       P004     75         5             3.75
19        C020     1/20/2022       P005    125        10            12.50
20        C021     1/21/2022       P006    300        30            90.00
21        C022     1/22/2022       P001    100        10            10.00
22        C023     1/23/2022       P002    150        15            22.50
23        C024     1/24/2022       P003    200        20            40.00
24        C025     1/25/2022       P004     75         5             3.75
25        C026     1/26/2022       P005    125        10            12.50
26        C027     1/27/2022       P006    300        30            90.00
27        C028     1/28/2022       P001    100        10            10.00
28        C029     1/29/2022       P002    150        15            22.50
29        C030     1/30/2022       P003    200        20            40.00

In [113]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Customer ID      30 non-null     object
 1   Purchase Date    30 non-null     object
 2   Product ID       30 non-null     object
 3   Price            30 non-null     int64
 4   Discount         30 non-null     int64
 5   Discount amount  30 non-null     float64
dtypes: float64(1), int64(2), object(3)
memory usage: 1.5+ KB