In [4]:
import pandas as pd
df=pd.read_excel('./data/cookie company.xlsx',sheet_name='data')
df

,Country,Product,Units Sold,Revenue,Cost,Date,profit
0,India,Chocolate Chip,1725,8625,3450.0,2019-11-01,5175.0
1,India,Chocolate Chip,2152,10760,4304.0,2019-12-01,6456.0
2,India,Chocolate Chip,2349,11745,4698.0,2019-09-01,7047.0
3,India,Chocolate Chip,1228,6140,2456.0,2019-10-01,3684.0
4,India,Chocolate Chip,1389,6945,2778.0,2019-10-01,4167.0
...,...,...,...,...,...,...,...
695,United States,White Chocolate Macadamia Nut,1596,9576,4389.0,2020-09-01,5187.0
696,United States,White Chocolate Macadamia Nut,986,5916,2711.5,2020-10-01,3204.5
697,United States,White Chocolate Macadamia Nut,606,3636,1666.5,2020-04-01,1969.5
698,United States,White Chocolate Macadamia Nut,2460,14760,6765.0,2020-07-01,7995.0
699,United States,White Chocolate Macadamia Nut,914,5484,2513.5,2020-12-01,2970.5

In [6]:
df.shape

(700, 7)

In [10]:
print(df.Revenue.min())
print(df.Revenue.max())
print(round(df.Revenue.mean(),2))
print(df["Units Sold"].mean())

200
23988
6700.46
1608.32

In [11]:
df.Product.value_counts()

Product
Chocolate Chip                   202
Sugar                            109
White Chocolate Macadamia Nut    109
Oatmeal Raisin                    94
Fortune Cookie                    93
Snickerdoodle                     93
Name: count, dtype: int64