In [6]:
#Merging Datasets

import pandas as pd

# Example DataFrames
data1 = {'id' : [1, 2, 3, 4],
         'name' : ['Alice', 'Bob', 'Charlie', 'David'],}
df1 = pd.DataFrame(data1)
data2 = {'id' : [2, 3, 4, 5],
         'age' : [24, 30, 22, 28],}
df2 = pd.DataFrame(data2)

# Merge DataFrames on 'id' column

# Common key for merge is 'id'
# Inner join: only rows with matching 'id' in both DataFrames
merged_df = pd.merge(df1, df2, on='id', how='inner')
print(f'Merged DataFrame:\n{merged_df}')
# Output:
#    id     name  age
# 0  2      Bob   24
# 1  3  Charlie   30
# 2  4    David   22

# Left join: all rows from df1, matching rows from df2
# Note: if no match, NaN for df2 columns
# This is useful for keeping all records from the left DataFrame
merged_df_left = pd.merge(df1, df2, on='id', how='left')
print(f'Left Merged DataFrame:\n{merged_df_left}')

# right join: all rows from df2, matching rows from df1
# Note: if no match, NaN for df1 columns
# This is useful for keeping all records from the right DataFrame
merged_df_right = pd.merge(df1, df2, on='id', how='right')
print(f'Right Merged DataFrame:\n{merged_df_right}')

# Outer join: all rows from both DataFrames, NaN where no match
# This is useful for keeping all records from both DataFrames
merged_df_outer = pd.merge(df1, df2, on='id', how='outer')
print(f'Outer Merged DataFrame:\n{merged_df_outer}')

Merged DataFrame:
   id     name  age
0   2      Bob   24
1   3  Charlie   30
2   4    David   22
Left Merged DataFrame:
   id     name   age
0   1    Alice   NaN
1   2      Bob  24.0
2   3  Charlie  30.0
3   4    David  22.0
Right Merged DataFrame:
   id     name  age
0   2      Bob   24
1   3  Charlie   30
2   4    David   22
3   5      NaN   28
Outer Merged DataFrame:
   id     name   age
0   1    Alice   NaN
1   2      Bob  24.0
2   3  Charlie  30.0
3   4    David  22.0
4   5      NaN  28.0

In [ ]:
# Concatenating DataFrames
# Concatenating along rows (axis=0)
# This is useful for stacking DataFrames on top of each other
# Note: columns must match, otherwise NaN for missing columns
union_df = pd.concat([df1, df2], ignore_index=True) # ignore_index=True resets the index, so no duplicate indices.
print(f'Concatenated DataFrame:\n{union_df}')

# Concatenating along columns (axis=1)
# This is useful for side-by-side DataFrames
# Note: rows must match, otherwise NaN for missing rows
# This is useful for side-by-side DataFrames
union_df_col = pd.concat([df1, df1], axis=1)
print(f'Concatenated DataFrame along columns:\n{union_df_col}')
# Note: This will not work if the number of rows in df1 and df2 are different

Concatenated DataFrame:
   id     name   age
0   1    Alice   NaN
1   2      Bob   NaN
2   3  Charlie   NaN
3   4    David   NaN
4   2      NaN  24.0
5   3      NaN  30.0
6   4      NaN  22.0
7   5      NaN  28.0
Concatenated DataFrame along columns:
   id     name  id     name
0   1    Alice   1    Alice
1   2      Bob   2      Bob
2   3  Charlie   3  Charlie
3   4    David   4    David

In [19]:
df = pd.DataFrame({
    'Department': ['HR', 'IT', 'HR', 'Finance', 'IT'],
    'Employee': ['A', 'B', 'C', 'D', 'E'],
    'Salary': [40000, 50000, 42000, 60000, 52000]
})
df

  Department Employee  Salary
0         HR        A   40000
1         IT        B   50000
2         HR        C   42000
3    Finance        D   60000
4         IT        E   52000

In [ ]:
# groupby() method
# This is useful for splitting the DataFrame into groups based on some criteria
# Group by 'Department' and calculate the sum of 'Salary'
df_sum = df.groupby('Department')['Salary'].sum()
print(f'Grouped by Department and sum of Salary:\n{df_sum}\n')
# Group by 'Department' and aggregate multiple functions
# This is useful for applying multiple functions to the grouped data
df_agg = df.groupby('Department')['Salary'].aggregate(['sum', 'mean', 'max', 'count'])
print(f'Grouped by Department and aggregate functions:\n{df_agg}')
# Group by 'Department' and apply a custom function
# This is useful for applying a custom function to the grouped data
x = lambda x: x.max() - x.min()
# def custom_func(x):
#     return x.max() - x.min()
df_custom = df.groupby('Department')['Salary'].agg(x)
print(f'Grouped by Department and custom function:\n{df_custom}\n')

df_grouped_functions = df.groupby('Department').agg(
    Total_Salary=('Salary', 'sum'),
    Average_Salary=('Salary', 'mean'),
    Max_Salary=('Salary', 'max'),
    Min_Salary=('Salary', 'min')
)
print(f'Grouped by Department with multiple functions:\n{df_grouped_functions}\n')

# the example above is the same functionality as df_agg, except it has new column names

Grouped by Department and sum of Salary:
Department
Finance     60000
HR          82000
IT         102000
Name: Salary, dtype: int64

Grouped by Department and aggregate functions:
               sum     mean    max  count
Department
Finance      60000  60000.0  60000      1
HR           82000  41000.0  42000      2
IT          102000  51000.0  52000      2
Grouped by Department and custom function:
Department
Finance       0
HR         2000
IT         2000
Name: Salary, dtype: int64

Grouped by Department with multiple functions:
            Total_Salary  Average_Salary  Max_Salary  Min_Salary
Department
Finance            60000         60000.0       60000       60000
HR                 82000         41000.0       42000       40000
IT                102000         51000.0       52000       50000

In [ ]:
# Formatting with comma and decimals
result = df.groupby('Department').agg(
    Total_Salary=('Salary', 'sum'),
    Average_Salary=('Salary', 'mean'),
)

result['Total_Salary'] = result['Total_Salary'].apply(lambda x: f'{x:,.10f}')
#result

result.iloc[1,0:1].Total_Salary
# type(result.iloc[1,0:1].Total_Salary)

'82,000.0000000000'

In [76]:
result = df.groupby('Department').agg(
    Total_Salary=('Salary', 'sum'),
    Average_Salary=('Salary', 'mean'),
)

result_styled = result.style.format(
    {
        'Total_Salary': '{:,.20f}',
        'Average_Salary': '{:,.2f}'
    }
)
# result_styled
result_styled

result.iloc[1,0:1].Total_Salary

result_styled