In [7]:
import pandas as pd

# Sample data

data = {
    'product': ['A','B','A','B','A','B','A','B'],
    'region': ['North','North','South','South','North','North','South','South'],
    'sales': [100,200,300,400,150,250,350,450],
    'quantity': [10,20,30,40,15,25,35,45]
}

df = pd.DataFrame(data)
df

  product region  sales  quantity
0       A  North    100        10
1       B  North    200        20
2       A  South    300        30
3       B  South    400        40
4       A  North    150        15
5       B  North    250        25
6       A  South    350        35
7       B  South    450        45

In [ ]:
pivot_table = pd.pivot_table(df, values='sales', index='product', columns='region', aggfunc='sum')
print(pivot_table)

region   North  South
product
A          250    650
B          450    850